.post-card {
    background-color: $light;
    border-radius: 5px;
    width: 100%;
    display: inline-block!important;
    margin-bottom: 2em!important;
    .post-card__image {
        width: 100%;
        border-radius: 5px 5px 0px 0px;
    }
    .post-card__content {
        gap: 1rem;
        padding: 0.5rem 1.5rem 1.5rem 1.5rem;
        line-height: 23px;
    }
}