                                // Colors //

// Primary colors
$red: #F46B52;
$grey: #CCC9C9;
$dark-grey: #979797;
$background: #F9F9F9;
$light: #FFFFFF;

.material-icons.grey { color: #CCC9C9; }

.material-icons.red { color: #979797; }



                                // Responsive //

// Breakpoints
$breakpoints: ( mobile: 830px, desktop-small: 1280px );